<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>MASTERPIECE</title>
  </head>
  <body>
    <header class="header-home">
      <% include includes/nav %>
      <h1>New Technology</h1>
    </header>

    <section class="section1">
      <div class="sumary">
        <h2>Technology</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
          quisquam dignissimos ad aliquam expedita iusto! Hic rem, harum at
          quidem magnam temporibus. Incidunt, totam non! Minima libero quia
          ipsam esse.
        </p>
      </div>

      <div class="card">
        <div class="front"><img src="media/card.jpg" /></div>
        <div class="back">
          <div class="details">
          <h2>Carte</h2>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section class="section2">
      <div class="city-text">
        <p>New City / New Technology</p>
      </div>
    </section>

    <section class="section3">
      <div class="article"></div>
      <div class="article"></div>
      <div class="article"></div>
    </section>

    <section class="section4">
      <div class="article"></div>
      <div class="article"></div>
      <div class="article"></div>
    </section>

    <footer>
      <p>Copyright</p>
      <ul>
        <li>fa-twitter</li>
        <li>fa-facebook</li>
        <li>fa-instagram</li>
        <li>fa-google-plus</li>
      </ul>
    </footer>
  </body>
</html>
